<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reboot</title>
</head>
<body>

    <div>
        <h1><a href="#">Django BLOG</a></h1>
    </div>

    <div>
        <p>Published 04.08.2020, 22:13</p>
        <h2><a href="#">First post</a></h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquam cumque explicabo id in inventore iusto quisquam tempora tenetur.
            Consectetur debitis doloribus laborum possimus vel. A cumque deleniti iste iure repellendus?
        </p>
    <hr>
    </div>


     <div>
        <p>Published 04.08.2020, 22:15</p>
        <h2><a href="#">First post</a></h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquam cumque explicabo id in inventore iusto quisquam tempora tenetur.
            Consectetur debitis doloribus laborum possimus vel. A cumque deleniti iste iure repellendus?
        </p>
    <hr>
     </div>

</body>
</html>