 html, body, h1{
    margin: 0;
    padding: 0;

}

header, footer{
    background-color: #F0783A;
    height:250px;
}

.wrapper{
  min-height: 100%;

}


footer{
  margin-top: 6.5%;

}

.text-logo{
    font-size: 3em;
}
